<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBTEST.Properties.Settings.swilifecoreConnectionString"
            connectionString="server=localhost;user id=root;password=123456a@;database=swilifecore;persistsecurityinfo=True;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="DBTEST.Properties.Settings.swilifecoreConnectionString1"
            connectionString="server=localhost;user id=root;password=123456a@;persistsecurityinfo=True;database=swilifecore"
            providerName="MySql.Data.MySqlClient" />
        <add name="DBTEST.Properties.Settings.swilifecoreConnectionString2"
            connectionString="server=127.0.0.1;user id=root;password=123456a@;persistsecurityinfo=True;database=swilifecore"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>