<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DXSWI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DXSWI.Properties.Settings.swilifecoreConnectionString"
            connectionString="server=192.168.1.100;user id=admin;password=Swilife.com1!;persistsecurityinfo=True;database=swilifecore;port=3306;Convert Zero Datetime=true"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <userSettings>
        <DXSWI.Properties.Settings>
            <setting name="theme" serializeAs="String">
                <value>Office 2013 Light Gray</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="role" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isOnline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="userId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StorageLocation" serializeAs="String">
                <value>\\192.168.1.100\SwilifeData\</value>
            </setting>
        </DXSWI.Properties.Settings>
    </userSettings>
</configuration>